# =====================================================
# Configurações do banco de dados MySQL
# =====================================================

# Endereço do servidor MySQL.
MYSQL_HOST=localhost

# Porta do servidor MySQL.
MYSQL_PORT=3306

# Usuário para acesso ao banco.
MYSQL_USER=

# Senha do usuário.
MYSQL_PASSWORD=

# Nome do banco de dados
MYSQL_DATABASE=

# =====================================================
# Configurações do Gmail
# =====================================================

SCOPES=
